html{
    background: url("https://static.wikia.nocookie.net/0e4e9d66-20c5-46a6-91ed-f150002fc103/scale-to-width/755") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
body{
    font-size: 30px;
}
.start{
    padding: .75rem 1.25rem;
    border-radius: 8rem;
    color: rgb(154, 17, 156);
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: .15rem;
    
    position: relative;
    overflow: hidden;
  
    
            border: 3px solid coral;
           
}
.wrapper{
width: 29%;
margin: auto;
text-align:center;

}
h2{

    color: rgba(111, 127, 193, 0.92);
    margin: 15px;
    font-size: 50px;
    
    
}
.dice-area{
    margin: 0px 50 px ;
    text-align: center;
    display:inline-block;
}
p{
    font-size: 50px 50px rgb(0, 149, 255) -50px -50px red;
    color: rgb(4, 44, 44);
    background-color: aqua;
    border-radius: 15rem;
}
img{
    width: 120px;
border-radius: 30%;
}

